<a href="https://colab.research.google.com/github/pratikasarkar/Capstone_Project/blob/pratik_workingBranch/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
df = pd.read_csv('/content/gdrive/My Drive/Project Data/datafile (1).csv')

In [3]:
df.head()

    Crop  ... Yield (Quintal/ Hectare)
0  ARHAR  ...                      9.83
1  ARHAR  ...                      7.47
2  ARHAR  ...                      9.59
3  ARHAR  ...                      6.42
4  ARHAR  ...                      8.72

[5 rows x 6 columns]

**Following are the minimum support prices(MSPs) which the govt provides the farmers just in case any sharp fall in farm prices : **

**A2** - Costs the farmer actually pays for buying seeds/fertilisers/pesticides/hired labour/hired machinery/leased-in land.

**A2 +FL** - Family labour + A2 cost

**C2** - the Comprehensive cost , costs of family labour + imputed rent of owned land + imputed interest on owned capital.

In [4]:
df.describe()

       Cost of Cultivation (`/Hectare) A2+FL  ...  Yield (Quintal/ Hectare)
count                              49.000000  ...                  49.000000
mean                            20363.537347  ...                  98.086735
std                             13561.435306  ...                 245.293123
min                              5483.540000  ...                   1.320000
25%                             12774.410000  ...                   9.590000
50%                             17022.000000  ...                  13.700000
75%                             24731.060000  ...                  36.610000
max                             66335.060000  ...                1015.450000

[8 rows x 4 columns]

In [5]:
df['State'].value_counts()

Andhra Pradesh    8
Uttar Pradesh     7
Maharashtra       6
Rajasthan         5
Karnataka         5
Gujarat           4
Madhya Pradesh    3
Punjab            3
Tamil Nadu        2
Haryana           2
Orissa            2
West Bengal       1
Bihar             1
Name: State, dtype: int64