<a href="https://colab.research.google.com/github/pratikasarkar/Capstone_Project/blob/pratik_workingBranch/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('/content/gdrive/My Drive/autos.csv',encoding='latin_1')

In [3]:
df.head()

        dateCrawled  ...          lastSeen
0  24-03-2016 11:52  ...  07-04-2016 03:16
1  24-03-2016 10:58  ...  07-04-2016 01:46
2  14-03-2016 12:52  ...  05-04-2016 12:47
3  17-03-2016 16:54  ...  17-03-2016 17:40
4  31-03-2016 17:25  ...  06-04-2016 10:17

[5 rows x 20 columns]

## Converting german values to english for all categorical features

In [4]:
df['seller'].value_counts()

privat        371719
gewerblich         3
Name: seller, dtype: int64

In [5]:
df['seller'].replace({'privat':'private',
                      'gewerblich':'commercial'},
                     inplace = True)
df['seller'].head()

0    private
1    private
2    private
3    private
4    private
Name: seller, dtype: object

In [6]:
df['offerType'].value_counts()

Angebot    371710
Gesuch         12
Name: offerType, dtype: int64

In [7]:
df['offerType'].replace({'Angebot':'offer',
                      'Gesuch':'application'},
                     inplace = True)
df['offerType'].head()

0    offer
1    offer
2    offer
3    offer
4    offer
Name: offerType, dtype: object

In [8]:
df['abtest'].value_counts()

test       192683
control    179039
Name: abtest, dtype: int64

In [9]:
df['vehicleType'].value_counts()

limousine     95936
kleinwagen    80077
kombi         67602
bus           30214
cabrio        22911
coupe         19023
suv           14714
andere         3359
Name: vehicleType, dtype: int64

In [10]:
df['vehicleType'].replace({'kleinwagen':'small car',
                      'kombi':'combi',
                      'cabrio':'convertible',
                      'andere' : 'other'},
                     inplace = True)
df['vehicleType'].head()

0          NaN
1        coupe
2          suv
3    small car
4    small car
Name: vehicleType, dtype: object

In [11]:
df['gearbox'].value_counts()

manuell      274355
automatik     77150
Name: gearbox, dtype: int64

In [12]:
df['gearbox'].replace({'manuell':'manual',
                      'automatik':'automatic'},
                     inplace = True)
df['gearbox'].head()

0       manual
1       manual
2    automatic
3       manual
4       manual
Name: gearbox, dtype: object

In [0]:
orig_list = list(df['model'].value_counts().index)
converted_list = ['golf','other','3s','polo','corsa','astra','passat','a4','cclass','5s','eclass','a3','a6','focus','fiesta','transporter','twingo','2series','fortwo','aclass','vectra','1s','mondeo','clio','touran','3series','punto','zafira','megane','ibiza','ka','lupo','xseries','octavia','cooper','fabia','clk','micra','caddy','80','sharan','scenic','omega','slk','leon','laguna','civic','tt','1stseries','6series','iseries','galaxy','mclass','7s','meriva','yaris','great','mxseries','a5','kangoo','911','bclass','500','tiguan','vito','escort','one','arosa','zseries','bora','colt','beetle','berlingo','sprinter','tigra','v40','transit','touareg','fox','swift','insignia','c_max','corolla','panda','seicento','sl','v70','4series','scirocco','156','a1','primera','espace','grand','stilo','almera','a8','147','avensis','qashqai','eos','c3','c5','signum','Beetle','s_max','5series','q5','c4','matiz','ducato','agila','aygo','viano','getz','601','combo','100','carisma','cayenne','boxster','alhambra','cordoba','c2','superb','c1','kuga','forfour','rio','jetta','cuore','a2','altea','cadet','rav','picanto','sorento','mseries','accord','crseries','up','q7','vivaro','toledo','voyager','xcseries','Bravo','santa','doblo','logan','mode','verso','ptcruiser','cl','sportage','jazz','fusion','sandero','mustang','roomster','carnival','6s','ceed','gallant','v50','q3','tucson','lancer','auris','impreza','phaeton','freelander','glk','calibra','pajero','x_trail','850','159','jimny','ypsilon','spider','duster','clubman','yeti','cseries','cc','roadster','cherokee','x_type','gclass','captiva','vclass','wrangler','legacy','s60','300c','rxseries','defender','justy','sirion','forester','outlander','grade','niva','s_type','spark','r19','navara','cxseries','aveo','900','antara','90','juke','discovery','exeo','range_rover_sport','kalos','range_rover','citigo','lanos','mii','crossfire','range_rover_evoque','gl','nubira','move','lybra','145','v60','croma','amarok','delta','terios','lodgy','9000','charade','b_max','musa','materia','200','kappa','samara','elefantino','i3','kalina','serie_2','rangerover','serie_3','serie_1','discovery_sport']

In [14]:
df['model'].replace(dict(zip(orig_list,converted_list)),inplace = True)
df.head()

        dateCrawled  ...          lastSeen
0  24-03-2016 11:52  ...  07-04-2016 03:16
1  24-03-2016 10:58  ...  07-04-2016 01:46
2  14-03-2016 12:52  ...  05-04-2016 12:47
3  17-03-2016 16:54  ...  17-03-2016 17:40
4  31-03-2016 17:25  ...  06-04-2016 10:17

[5 rows x 20 columns]

In [15]:
df['monthOfRegistration'].value_counts()

0     37695
3     36186
6     33194
4     30939
5     30643
7     28979
10    27354
11    25499
12    25395
9     25083
1     24567
8     23775
2     22414
Name: monthOfRegistration, dtype: int64

In [16]:
df['fuelType'].value_counts()

benzin     223974
diesel     107802
lpg          5379
cng           571
hybrid        281
andere        208
elektro       104
Name: fuelType, dtype: int64

In [17]:
df['fuelType'].replace({'benzin':'petrol',
                      'andere':'other',
                      'elektro':'electric'},
                     inplace = True)
df['fuelType'].head()

0    petrol
1    diesel
2    diesel
3    petrol
4    diesel
Name: fuelType, dtype: object

In [18]:
df['brand'].value_counts()

volkswagen        79672
bmw               40291
opel              40153
mercedes_benz     35339
audi              32889
ford              25584
renault           17988
peugeot           11032
fiat               9677
seat               7023
mazda              5697
skoda              5645
smart              5251
citroen            5185
nissan             5040
toyota             4699
sonstige_autos     3983
hyundai            3649
mini               3397
volvo              3328
mitsubishi         3062
honda              2838
kia                2556
alfa_romeo         2348
suzuki             2330
porsche            2215
chevrolet          1847
chrysler           1454
dacia               900
jeep                808
daihatsu            806
subaru              779
land_rover          772
jaguar              621
trabant             592
daewoo              543
saab                531
rover               490
lancia              484
lada                225
Name: brand, dtype: int64

In [19]:
df['notRepairedDamage'].value_counts()

nein    263325
ja       36302
Name: notRepairedDamage, dtype: int64

In [20]:
df['notRepairedDamage'].replace({'nein':'No',
                      'ja':'Yes'},
                     inplace = True)
df['notRepairedDamage'].head()

0    NaN
1    Yes
2    NaN
3     No
4     No
Name: notRepairedDamage, dtype: object

In [21]:
df.head(3)

        dateCrawled  ...          lastSeen
0  24-03-2016 11:52  ...  07-04-2016 03:16
1  24-03-2016 10:58  ...  07-04-2016 01:46
2  14-03-2016 12:52  ...  05-04-2016 12:47

[3 rows x 20 columns]

In [0]:
# df.to_csv('/content/gdrive/My Drive/autos_eng.csv')